/ghost/master/yaya_variable.cfg
/ghost/master/profile/
/shell/master/profile/
/ghost/master/messagetxt/*.bak
/etc/tama.txt
updates2.dau
updates.txt

# development kit
/tools/bin/
/tools/*.exe
/tools/local.json
/build/
*.nar
/.claude/settings.local.json
